services:
  banking-pipeline:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: banking-pipeline
    ports:
      - "3000:3000"   # Dagster UI
      - "9000:9000"   # MinIO API
      - "9001:9001"   # MinIO Console
    volumes:
      - minio_data:/data/minio
      - ./banking_pipeline:/opt/dagster/app/banking_pipeline
      - ./dbt:/opt/dagster/app/dbt
      - ./data/sample:/opt/dagster/data/sample:ro
    stdin_open: true
    tty: true

volumes:
  minio_data:
